/* @import url("https://fonts.googleapis.com/css2?family=Mooli&display=swap"); */

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

:root {
  --blue: #00bbf0;
  --sec-blue: #00bcf01a;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

h1 {
  color: #333;
}

p:not(.secNav-text p, .container-form p) {
  color: #555;
}

/* NAV */
.sec-nav {
  background-color: var(--blue);
}

.navbar-nav,
.mr-auto {
  flex: 1;
  margin: auto !important;
  display: flex;
  justify-content: flex-end;
}

i {
  font-size: 18px;
  padding-right: 16px;
}

/* #hero */

.container-hero {
  background-color: var(--sec-blue);
}

.hero-text-box h1 {
  font-weight: 700;
  font-size: 2.8em;
  letter-spacing: -1px;
}

.hero-img {
  height: 550px;
  filter: drop-shadow(2px 2px 5px #9de5ee);
}

/* ARTUCLE */
.article-img-box img {
  height: 20rem;
}

.article-img-box {
  position: relative;
}

.main-cont .play-icon {
  background-color: var();
  position: absolute;
  height: 5em;
  width: 5em;
  border-radius: 100px;
  top: 50%;
  border: 5px solid #daebf2;
  background: #00bbf0;
  transform: translate(-50%, -50%);
}

.play-icon p {
  font-size: 24px;
  transform: translate(0, 20%);
  color: white;
}

/* Cards */

.ser-head {
  margin-bottom: 4rem;
}

.ser-head h1 {
  font-weight: 600;
}

.ser-head p {
  width: 30%;
  margin: auto;
  text-align: center;
}

.services {
  padding: 2.5em;
  background-color: var(--sec-blue);
}

.card-body {
  padding: 5rem 0;
}

.ser-top {
  position: absolute;
  background-color: #fff;
  border: 2px solid var(--sec-blue);
  height: 4.5em;
  width: 4.5em;
  left: 50%;
  border-radius: 50px;
  transform: translate(-50%, -50%);
}

.ser-top i {
  font-size: 24px;
  position: absolute;
  transform: translate(-30%, +100%);
  color: #00bbf0;
}

hr {
  color: var(--blue);
  width: 10%;
  margin: auto;
  padding-bottom: 2px;
  margin-bottom: 1rem;
}

.border-primary {
  transform: scale(1.05);
  box-shadow: 0px 2px 10px #75b6cd;
}

/* FORM */
input {
  color: #00bbf0;
}

.section-form {
  background-image: url("https://t3.ftcdn.net/jpg/02/10/55/60/360_F_210556027_pNmg4EUFwrn2W25SDdWayPakVIztTSe8.jpg");
  text-transform: capitalize;
}

.container-form {
  padding: 5em;
  color: #ddd;
  width: 80%;
  /* height: 10em; */
}

.container-form h2 {
  font-weight: 600;
  /* width: 2em; */
  font-size: 30px;
}

input {
  font-size: 1.2rem;
  background-color: transparent !important;
  border: none;
  border: 3px #eee solid !important;
  width: 25rem;
  padding-left: 20px;
  height: 50px;
  border-radius: 10px;
}

::placeholder {
  color: #eee !important;
}

@media (max-width: 615px) {
  .sec-nav span {
    display: none;
  }
  .sec-nav {
    /* display: block !important; */
    justify-content: center !important;
  }

  .secNav-text p {
    padding: 0 !important;
  }
}
