/* @import url("https://fonts.googleapis.com/css2?family=Mooli&display=swap"); */

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

:root {
  --blue: #00bbf0;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* NAV */
.sec-nav {
  background-color: var(--blue);
}

.navbar-nav,
.mr-auto {
  flex: 1;
  margin: auto !important;
  display: flex;
  justify-content: flex-end;
}

i {
  font-size: 18px;
  padding-right: 16px;
}

/* #hero */

.container-hero {
  background-color: #00bcf01a;
}

.hero-text-box h1 {
  font-weight: 700;
  font-size: 3em;
  letter-spacing: -1px;
}

/* ARTUCLE */
.article-img-box img {
  height: 20rem;
}

.article-img-box {
  position: relative;
}

.main-cont .play-icon {
  background-color: var();
  position: absolute;
  height: 5em;
  width: 5em;
  border-radius: 100px;
  top: 50%;
  border: 5px solid #daebf2;
  background: #00bbf0;
  transform: translate(-50%, -50%);
}

.play-icon p {
  font-size: 24px;
  transform: translate(0, 20%);
  color: white;
}

/* Cards */

.services {
  padding: 2.5em;
  background-color: #00bcf01a;
}

.card-body {
  padding: 5rem 0;
}

.card-body p {
}

.ser-top {
  position: absolute;
  background-color: #fff;
  border: 2px solid #00bcf01a;
  height: 4.5em;
  width: 4.5em;
  left: 50%;
  border-radius: 50px;
  transform: translate(-50%, -50%);
}

.ser-top i {
  font-size: 24px;
  position: absolute;
  transform: translate(-30%, +100%);
  color: #00bbf0;
}
